.hero {
  background: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/index-img/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: auto;
}
.hero__title {
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  width: 696px;
  margin: auto;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero__btn {
  background-color: $primary-color;
  font-family: inherit;

  // color: #fff;
  // font-weight: 700;
  // font-size: 16px;
  // line-height: calc(30 / 16);
  // letter-spacing: 0.06em;

  @include font(700, 16px, 30px, 0.06em, #fff);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  padding: 10px 32px 10px 32px;
  min-width: 200px;
  margin-top: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: #fff;
    color: $primary-color;
  }
}
