body {
  font-family: Roboto, sans-serif;
  color: var(--header-text-color);
}

img {
  display: block;
  max-width: 100%;
}
button {
  border: 0;
  cursor: pointer;
}
section {
  padding: 94px 0 94px 0;
}
